<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/quixx/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            if (data.event == 'roll_broadcast') {
                document.querySelector('#chat-log').value += (data.roll + '\n');
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            // const messageInputDom = document.querySelector('#chat-message-input');
            // const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'event': 'roll_ask',
                'num_dice': 6,
            }));
        };
    </script>
</body>
</html>
